<h2>Битвы</h2>

<% if @battles.empty? %>
    <center><b>No battles in game</b></center>
<% else %>
    <table class="table">
      <tr>
        <th>id</th>
        <th>Игрок слева</th>
        <th>Игрок справа</th>
        <th>Жизни игрока слева</th>
        <th>Жизни игрока справа</th>
      </tr>

      <% @battles.reverse_each do |battle| %>
          <tr<% if battle.left_scores == 0 or battle.right_scores == 0 %>
           class="success" <% end %>
          >
            <td><%= link_to battle.id, battle_path(battle) %></td>
            <td><%= link_to battle.players.first.name, battle.players.first %></td>
            <td><%= link_to battle.players.last.name, battle.players.last %></td>
            <td><%= battle.left_scores %></td>
            <td><%= battle.right_scores %></td>
          </tr>
      <% end %>
    </table>
<% end %>

