<h2>Battles</h2>

<% if @battles.empty? %>
    <b>No battles in game</b>
<% else %>
    <table class="table">
      <tr>
        <th>id</th>
        <th>Left player</th>
        <th>Right player</th>
        <th>Left scores</th>
        <th>Right scores</th>
      </tr>

      <% @battles.reverse_each do |battle| %>
          <tr<% if battle.left_scores == 0 or battle.right_scores == 0 %>
           class="success" <% end %>
          >
            <td><%= link_to battle.id, battle_path(battle) %></td>
            <td><%= link_to battle.players.first.name, battle.players.first %></td>
            <td><%= link_to battle.players.last.name, battle.players.last %></td>
            <td><%= battle.left_scores %></td>
            <td><%= battle.right_scores %></td>
          </tr>
      <% end %>
    </table>
<% end %>

<!--<td>link_to battle.left_player, player_path(battle.players[0]) %></td>-->
<!--<td>link_to battle.right_player, player_path(battle.players[1]) %></td>-->
