<br><br>
<div class="col-md-3"></div>
<div class="col-md-2" alt="LeftSide">
  <h1><center><%= @battle.left_player %></center></h1>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= @battle.left_scores %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @battle.left_scores %>%;">
      <%= @battle.left_scores %>
    </div>
  </div>
  <div class="img_ninja"><%= image_tag("left_ninja.jpg") %></div>
</div>
<div class="col-md-2" alt="CenterSide">
 <h1><center> vs </center></h1>

  <div class="col-md-12 pl"><center><br>
    <% if @battle.turn == 1 %>
        <% if @battle.seconds != nil and @battle.hit == true %>
            <div class="alert alert-success" role="alert">
            Правильный ответ! Игрок <%= @battle.right_player %> нанес <font color="red"><%= @battle.wound %></font> повреждения. Время хода: <font color="red"><%= @battle.seconds %></font> сек.
            </div>
            <% elsif @battle.seconds != nil and @battle.hit == false %>
            <div class="alert alert-danger" role="alert">
              <%= @battle.right_player %> не попал по сопернику. Правильный ответ: <font color="red"><%= @battle.result %></font>
            </div>
        <% end %>
        <p>Ход игрока 1</p>
        Player: <%= @battle.left_player %> <p>У тебя есть 10 секунд на удар. Ты готов?</p>
    <% elsif @battle.turn == 2 %>
        <% if @battle.seconds != nil and @battle.hit == true %>
            <div class="alert alert-success" role="alert">
            Правильный ответ! Игрок <%= @battle.left_player %> нанес <font color="red"><%= @battle.wound %></font> повреждения. Время хода: <font color="red"><%= @battle.seconds %></font> сек.
            </div>
        <% elsif @battle.seconds != nil and @battle.hit == false %>
            <div class="alert alert-danger" role="alert">
              <%= @battle.left_player %> не попал по сопернику. Правильный ответ: <font color="red"><%= @battle.result %></font>
            </div>
        <% end %>
        <p>Ход игрока 2</p>
        Игрок: <%= @battle.right_player %> <p>У тебя есть 10 секунд на удар. Ты готов?</p>
    <% end %>
    <br><br>
    <p><a href="<%= edit_battle_path %>"><button type="button" class="btn btn-primary" autofocus>Готов!</button></a></p></center>
  </div>

</div>
<div class="col-md-2" alt="RightSide">
  <h1><center><%= @battle.right_player %></center></h1>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= @battle.right_scores %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @battle.right_scores %>%;">
      <%= @battle.right_scores %>
    </div>
  </div>
  <div class="img_ninja"><%= image_tag("right_ninja.jpg") %></div>
</div>


