<center></center><h2>Игроки</h2></center>

<% if @players.empty? %>
    <center><b>В игре пока еще нет игроков</b></center>
<% else %>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Имя игрока</th>
        <th>Всего боев</th>
        <th>Побед</th>
        <th>Поражений</th>
      </tr>

      <% @players.reverse_each do |player| %>
          <tr>
            <td><%= player.id %></td>
            <td><%= link_to player.name, player_path(player) %></td>
            <td><%= player.games %></td>
            <td><%= player.victories %></td>
            <td><%= player.losses %></td>
          </tr>
      <% end %>
    </table>
<% end %>
