<!DOCTYPE html>
<html>
  <head>
    <title>MathWars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body><center>
    <p><h1>MathWars</h1></p>
    <a href="<%= new_battle_path %>"><button type="button"  class="btn btn-primary">Новый бой</button></a>
    <a href="<%= players_path %>"><button type="button" class="btn btn-primary">Все игроки</button></a>
    <a href="<%= battles_path %>"><button type="button" class="btn btn-primary">Все битвы</button></a></center>
    <%= yield %>
  </body>
</html>
